<div class="item">

    <div class="item-title">
            <%= book.title%>
    </div>

    <div class="item-image">
        <div class="item-image-inner">
            <img src="<%= book.img%>">
        </div>
    </div>

    <div class="item-author">
        Автор: <%= book.author%>
    </div>

    <div class="item-type">
        Жанр: <%= book.type%>
    </div>

    <div>
        <div class="item-description">
            <%= book.description%>
        </div>
    </div>

</div>