<div class="book">

    <div class="book-title">
            <%= book.title%>
    </div>

    <div class="book-image">
        <div class="book-image-inner">
            <img src="<%= book.img%>">
        </div>
    </div>

    <div class="book-author">
        Автор: <%= book.author%>
    </div>

    <div class="book-type">
        Жанр: <%= book.type%>
    </div>

    <div>
        <div class="book-description">
            <%= book.description%>
        </div>
    </div>

</div>