<div class="item">

    <div class="item-title">
        <%= film.title%>
    </div>

    <div class="item-image">
        <div class="item-image-inner">
            <img src="<%= film.icon%>">
        </div>
    </div>

    <div class="item-type">
        Жанр: <%= film.type%>
    </div>

    <div class="item-other">
        Рік: <%= film.year%>
    </div>

    <div class="item-other">
        Країна: <%= film.country%>
    </div>

    <div class="item-other">
        Продюсер: <%= film.director%>
    </div>

    <div>
        <div class="item-description">
            <%= film.description%>
        </div>
    </div>

</div>